# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===== Virtual Environment =====
env/
venv/
.venv/

# ===== Django =====
*.log
db.sqlite3
media/
staticfiles/

# Django migrations cache
**/migrations/__pycache__/

# ===== Environment variables =====
.env

# ===== IDE / OS =====
.vscode/
.idea/
.DS_Store

# ===== Tests / Coverage =====
.coverage
htmlcov/
.pytest_cache/

# ===== Build =====
build/
dist/
*.egg-info/

# ===== Celery / Redis =====
celerybeat-schedule
